<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bigdatacenter.dataprocessor.platform.persistence.metadb.MetadbMapper">
    <!-- RequestInfo readRequest(@Param("dataSetUID") Integer dataSetUID) -->
    <select id="readRequest"
            resultType="org.bigdatacenter.dataprocessor.platform.domain.metadb.request.RequestInfo">
        SELECT * FROM health_care_ui.tr_dataset_list WHERE dataSetUID = #{dataSetUID};
    </select>

    <!-- List<RequestFilterInfo> readRequestFilters(@Param("dataSetUID") Integer dataSetUID) -->
    <select id="readRequestFilters"
            resultType="org.bigdatacenter.dataprocessor.platform.domain.metadb.request.RequestFilterInfo">
        SELECT * FROM health_care_ui.tr_dataset_filter WHERE dataSetUID = #{dataSetUID};
    </select>

    <!-- List<RequestYearInfo> readRequestYears(@Param("dataSetUID") Integer dataSetUID) -->
    <select id="readRequestYears"
            resultType="org.bigdatacenter.dataprocessor.platform.domain.metadb.request.RequestYearInfo">
        SELECT * FROM health_care_ui.tr_dataset_year WHERE dataSetUID = #{dataSetUID};
    </select>

    <!-- List<RequestIndicatorInfo> readRequestIndicators(@Param("dataSetUID") Integer dataSetUID) -->
    <select id="readRequestIndicators"
            resultType="org.bigdatacenter.dataprocessor.platform.domain.metadb.request.RequestIndicatorInfo">
        SELECT * FROM health_care_ui.tr_dataset_indicator WHERE dataSetUID = #{dataSetUID};
    </select>

    <!-- int updateProcessState(@Param("dataSetUID") Integer dataSetUID, @Param("processState") Integer processState) -->
    <update id="updateProcessState">
        UPDATE health_care_ui.tr_dataset_list SET processState = #{processState} WHERE dataSetUID = #{dataSetUID};
    </update>

    <!-- int updateJobStartTime(@Param("dataSetUID") Integer dataSetUID, @Param("jobStartTime") String jobStartTime) -->
    <update id="updateJobStartTime">
        UPDATE health_care_ui.tr_dataset_list SET jobStartTime = #{jobStartTime} WHERE dataSetUID = #{dataSetUID};
    </update>

    <!-- int updateJobEndTime(@Param("dataSetUID") Integer dataSetUID, @Param("jobEndTime") String jobEndTime) -->
    <update id="updateJobEndTime">
        UPDATE health_care_ui.tr_dataset_list SET jobEndTime = #{jobEndTime} WHERE dataSetUID = #{dataSetUID};
    </update>

    <!-- int updateElapsedTime(@Param("dataSetUID") Integer dataSetUID, @Param("elapsedTime") String elapsedTime) -->
    <update id="updateElapsedTime">
        UPDATE health_care_ui.tr_dataset_list SET elapsedTime = #{elapsedTime} WHERE dataSetUID = #{dataSetUID};
    </update>




    <!-- MetaDatabaseInfo readMetaDatabase(@Param("edl_idx") Integer edlIdx) -->
    <select id="readMetaDatabase"
            resultType="org.bigdatacenter.dataprocessor.platform.domain.metadb.meta.MetaDatabaseInfo">
        SELECT * FROM health_care_ui.chu_db_list WHERE edl_idx = #{edl_idx};
    </select>

    <!-- MetaTableInfo readMetaTable(@Param("etl_idx") Integer etlIdx) -->
    <select id="readMetaTable"
            resultType="org.bigdatacenter.dataprocessor.platform.domain.metadb.meta.MetaTableInfo">
        SELECT * FROM health_care_ui.chu_tb_list WHERE etl_idx = #{etl_idx};
    </select>

    <!-- List<String> readMetaTableNames(@Param("edl_idx") Integer edlIdx, @Param("tb_year") Integer tbYear) -->
    <select id="readMetaTableNames" resultType="java.lang.String">
        SELECT etl_eng_name FROM health_care_ui.chu_tb_list WHERE edl_idx = #{edl_idx} AND tb_year = #{tb_year};
    </select>

    <!-- List<MetaColumnInfo> readMetaColumns1(@Param("ecl_idx") Integer eclIdx) -->
    <select id="readMetaColumns1" resultType="org.bigdatacenter.dataprocessor.platform.domain.metadb.meta.MetaColumnInfo">
        SELECT * FROM health_care_ui.chu_col_list WHERE ecl_idx = #{ecl_idx};
    </select>

    <!-- List<MetaColumnInfo> readMetaColumns2(@Param("edl_idx") Integer edlIdx, @Param("ecl_ref") String eclRef, @Param("ecl_year") Integer eclYear) -->
    <select id="readMetaColumns2"
            resultType="org.bigdatacenter.dataprocessor.platform.domain.metadb.meta.MetaColumnInfo">
        SELECT * FROM health_care_ui.chu_col_list_ref WHERE edl_idx = #{edl_idx} AND ecl_ref = #{ecl_ref} AND ecl_year = #{ecl_year};
    </select>

    <!-- List<MetaColumnInfo> readMetaColumnsForIndicatorHeader(@Param("eil_idx") Integer eilIdx) -->
    <select id="readMetaColumnsForIndicatorHeader" resultType="org.bigdatacenter.dataprocessor.platform.domain.metadb.meta.MetaColumnInfo">
        SELECT col.* FROM health_care_ui.chu_col_list_ref col INNER JOIN health_care_ui.chu_indicator_column_relation ind ON col.ecl_idx = ind.ecl_idx WHERE ind.eil_idx = #{eil_idx} ORDER BY col.ecl_idx ASC;
    </select>

    <!-- List<MetaRelationIndicatorWithColumn> readMetaRelationIndicatorWithColumn(@Param("eil_idx") Integer eilIdx) -->
    <select id="readMetaRelationIndicatorWithColumn"
            resultType="org.bigdatacenter.dataprocessor.platform.domain.metadb.meta.MetaRelationIndicatorWithColumn">
        SELECT * FROM health_care_ui.chu_indicator_column_relation WHERE eil_idx = #{eil_idx};
    </select>

    <!-- List<String> readEngColumnNames(@Param("etl_eng_name") String etlEngName) -->
    <select id="readEngColumnNames" resultType="java.lang.String">
        SELECT DISTINCT ecl_eng_name FROM health_care_ui.chu_col_list WHERE etl_idx=(SELECT etl_idx FROM health_care_ui.chu_tb_list WHERE etl_eng_name=#{etl_eng_name});
    </select>




    <!-- void createFtpRequest(@Param("ftpInfo") FtpInfo ftpInfo) -->
    <insert id="createFtpRequest" parameterType="org.bigdatacenter.dataprocessor.platform.domain.metadb.common.FtpInfo">
        INSERT INTO health_care_ui.ftp_request_meta (dataSetUID, userID, ftpURI)
        VALUES (#{ftpInfo.dataSetUID}, #{ftpInfo.userID}, #{ftpInfo.ftpURI});
    </insert>

    <!-- FtpInfo readFtpRequest(@Param("dataSetUID") Integer dataSetUID) -->
    <select id="readFtpRequest" resultType="org.bigdatacenter.dataprocessor.platform.domain.metadb.common.FtpInfo">
        SELECT * FROM health_care_ui.ftp_request_meta WHERE dataSetUID = #{dataSetUID};
    </select>
</mapper>